.seccion {
  color: #ffffff;
  height: 95%;
}

.title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin: 50px;
}

.fecha {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.completo {
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  gap: 30px;

  overflow-y: scroll;
}

.completo::-webkit-scrollbar {
  -webkit-appearance: none;
}

.completo::-webkit-scrollbar:vertical {
  width:10px;
}

.completo::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.completo::-webkit-scrollbar:horizontal {
  height: 10px;
}

.completo::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.texto {
  margin: 0 20px;
  padding: 0 20px;
  text-align: justify;
  font-size: 25px;
}

.texto::-webkit-scrollbar {
  -webkit-appearance: none;
}

.texto::-webkit-scrollbar:vertical {
  width:10px;
}

.texto::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.texto::-webkit-scrollbar:horizontal {
  height: 10px;
}

.texto::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.enlace {
  font-size: 25px;
}

.enlace:hover {
  color: rgb(163, 22, 22);
}

.div_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 50vw;
  max-height: 50vh;
  margin: 5vh;
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {

  .seccion {
    width: 80%;
    margin: 0 10vw;
  }

  .title {
    font-size: 3vh;
    margin: 5vh 5vw;
  }
  
  .fecha {
    font-size: 2vh;
    margin: 0vh 5vw;
  }

  .completo {
    height: 60%;
    align-items: center;
  }
  
  .texto {
    font-size: 2vh;
    width: 90%;
  }
  
  .enlace {
    font-size: 2vh;
    margin-bottom: 10vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  .seccion {
    width: 80%;
    height: auto;
    margin: 0 5vw;
  }

  .title {
    font-size: 3vw;
  }
  
  .fecha {
    font-size: 2vw;
  }

  .completo {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    align-items: center;
  }
  
  .texto {
    font-size: 2vw;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  
  .enlace {
    font-size: 2vw;
  }
}