.seccion {
  color: #ffffff;
  height: 95%;
}

.title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin: 50px;
}

.fecha {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.completo {
  display: flex;
  flex-direction: column;

  max-height: 55vh;
  gap: 30px;

  overflow-y: scroll;
}

.completo::-webkit-scrollbar {
  -webkit-appearance: none;
}

.completo::-webkit-scrollbar:vertical {
  width:10px;
}

.completo::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.completo::-webkit-scrollbar:horizontal {
  height: 10px;
}

.completo::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.texto {
  margin: 20px;
  padding: 20px;
  text-align: justify;
  font-size: 25px;
}

.enlace {
  font-size: 25px;
}

.enlace:hover {
  color: rgb(163, 22, 22);
}

.image {
  max-width: 60vw;
  max-height: 60vh;
  display: flex;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {

  .title {
    font-size: 3vh;
    margin: 5vh 5vw;
  }
  
  .fecha {
    font-size: 2vh;
    margin: 0vh 5vw;
  }

  .completo {
    height: 60%;
  }
  
  .texto {
    font-size: 2vh;
    margin: 0vh 5vw;
  }
  
  .enlace {
    font-size: 2vh;
    margin-bottom: 10vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  .title {
    font-size: 3vw;
  }
  
  .fecha {
    font-size: 2vw;
  }
  
  .texto {
    font-size: 2vw;
  }
  
  .enlace {
    font-size: 2vw;
  }
}