.seccion {
  color: #ffffff;
  height: 95%;
}

.title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin: 50px;
}

.fecha {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.completo {
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: auto;
  height: auto;

  align-items: center;
  justify-content: center;
  max-height: 70vh;
  max-width: 55vw;
  gap: 5vh;
  margin-top: 20px;
}

.completo::-webkit-scrollbar {
  -webkit-appearance: none;
}

.completo::-webkit-scrollbar:vertical {
  width:10px;
}

.completo::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.completo::-webkit-scrollbar:horizontal {
  height: 10px;
}

.completo::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.texto {
  margin: 0 20px;
  padding: 0 20px;
  text-align: justify;
  font-size: 25px;
}

.texto::-webkit-scrollbar {
  -webkit-appearance: none;
}

.texto::-webkit-scrollbar:vertical {
  width:10px;
}

.texto::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.texto::-webkit-scrollbar:horizontal {
  height: 10px;
}

.texto::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.enlace {
  font-size: 25px;
}

.enlace:hover {
  color: rgb(163, 22, 22);
}

.div_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 50vw;
  max-height: 50vh;
  margin: 5vh;
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {

  .title {
    font-size: 3vh;
  }
  
  .fecha {
    font-size: 2vh;
  }
  
  .texto {
    font-size: 2vh;
  }
  
  .enlace {
    font-size: 2vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  .title {
    font-size: 3vw;
  }
  
  .fecha {
    font-size: 2vw;
  }
  
  .texto {
    font-size: 2vw;
  }
  
  .enlace {
    font-size: 2vw;
  }
}