.header {

    width: 100vw;
    height: 72px;

    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    margin-bottom: 200px;

    z-index: 10;
  }

.navigation {
    display: flex;
    
    gap: 6vw;
    text-align: center;
    justify-content: center;
    width: 100vw;
}
  
.back {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 10;

    transition: 0.5s;
}

.back:hover {
    transform: scale(1.25);
}

/* Eliminamos los elementos que se usan en responsive mas pequeños */    
@media (min-width: 1024px) {

    .navigationLatI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 30vw;

        position: fixed;
        left: 0;
        margin-top: 2vh;
        margin-left: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    /* Sirve para corregir el menu para laptop debido al useState, debe ser igual a navigationLat*/
    .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 30vw;

        position: fixed;
        left: 0;
        margin-top: 2vh;
        margin-left: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    .navigationLatD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 30vw;

        position: fixed;
        right: 0;
        margin-top: 2vh;
        margin-right: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 30vw;

        position: fixed;
        right: 0;
        margin-top: 2vh;
        margin-right: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    .navigation a:hover {
        color: red;
    }

    .navigationLatI::-webkit-scrollbar,.navigationLatD::-webkit-scrollbar, .showI::-webkit-scrollbar, .showD::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      
      .navigationLatI::-webkit-scrollbar:vertical,.navigationLatD::-webkit-scrollbar:vertical, .showI::-webkit-scrollbar:vertical, .showD::-webkit-scrollbar:vertical {
        width:10px;
      }
      
      .navigationLatI::-webkit-scrollbar-button:increment,.navigationLatI::-webkit-scrollbar-button, .navigationLatD::-webkit-scrollbar-button:increment,.navigationLatD::-webkit-scrollbar-button, .showI::-webkit-scrollbar-button:increment,.showI::-webkit-scrollbar-button, .showD::-webkit-scrollbar-button:increment,.showD::-webkit-scrollbar-button {
        display: none;
      } 
      
      .navigationLatI::-webkit-scrollbar:horizontal, .navigationLatD::-webkit-scrollbar:horizontal, .showI::-webkit-scrollbar:horizontal, .showD::-webkit-scrollbar:horizontal {
        height: 10px;
      }
      
      .navigationLatI::-webkit-scrollbar-thumb,.navigationLatD::-webkit-scrollbar-thumb, .showI::-webkit-scrollbar-thumb, .showD::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
      }


    .entescultor {
        position: fixed;
        left: 39vw;
        width: 20vw;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2vh;
        padding-left: 0;
        padding-right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        font-family: Arimo;
        font-size: 1.75vw;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 80% */
        letter-spacing: 8px;
    
        user-select: none;
    }

    .hamburguesa {
        display: none;
    }

    .div {
        display: none;
    }

    .showFooter {
        display: none;
    }
}

@media (max-width: 768px) and (orientation: portrait) {

    .header {
        width: 100vw;
        height: 10vh;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        font-family: Arimo;
        letter-spacing: 6px;
        font-size: 6vw;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLatI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 6vw;
        font-size: 6vw;
        width: 100%;

        position: absolute;
        top: 10vh;
        margin-top: 0;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);
        z-index: 10;
        
        transform: translateX(300%);
        transition: 0.5s;
    }
    .navigationLatD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 6vw;
        font-size: 6vw;
        width: 100%;

        position: absolute;
        top: 60.3vw;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);  
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLatI > li:first-child {
        margin-top: 6vw;
    }    

    .navigationLatD > li:first-child {
        padding-top: 6vw;
    }
    
    .navigationLatD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }

    .hamburguesa {
        width: 6%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 1rem;
        z-index: 11;

        cursor: pointer;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 6vw;
        font-size: 6vw;
        width: 100%;

        position: absolute;
        top: 10vh;
        right: 0px;
        margin-top: 0;

        background: rgba(24, 24, 24, 0.9);
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 6vw;
        font-size: 6vw;
        width: 100%;

        position: absolute;
        top: 60.3vw;
        right: 0px;
        margin-top: 0;
        background: rgba(24, 24, 24, 0.9); 
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showI > li:first-child {
        margin-top: 6vw;
    }    

    .showD > li:first-child {
        padding-top: 6vw;
    }
    
    .showD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }


    .back {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    
        transition: 0.5s;
    }
    
    .back:hover {
        transform: scale(1);
    }

    .barra {
        position: absolute;
        bottom: 10px;
        left: 20%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        width: 100%;
        z-index: 10;

        list-style: none;
        
        text-align: center;
        margin: 0 auto;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 30px;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 11;

        transform: translateX(0);
        transition: 0.5s;
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .header {
        width: 100vw;
        height: 15vh;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        font-family: Arimo;
        letter-spacing: 6px;
        font-size: 6vh;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLatI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        width: 100%;

        font-size: 5vh;

        position: absolute;
        top: 10vh;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLatD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        width: 100%;

        font-size: 5vh;

        position: absolute;
        top: 42vh;
        right: 0px;
        background: rgba(24, 24, 24, 0.9); 
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLatI > li:first-child {
        margin-top: 6vw;
    }    

    .navigationLatD > li:first-child {
        padding-top: 6vw;
    }
    
    .navigationLatD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }

    .hamburguesa {
        width: 3%;
        height: 100%;
        position: absolute;
        top: 0.25rem;
        right: 3rem;
        z-index: 11;

        cursor: pointer;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        width: 100%;

        font-size: 5vh;

        position: absolute;
        top: 10vh;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);
        z-index: 10;

        transform: translateX(0%);
        transition: 0.5s;
    }

    .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        width: 100%;

        font-size: 5vh;

        position: absolute;
        top: 42vh;
        right: 0px;
        background: rgba(24, 24, 24, 0.9); 
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showI > li:first-child {
        margin-top: 5vh;
    }    

    .showD > li:first-child {
        padding-top: 5vh;
    }
    
    .showD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }


    .back {
        position: fixed;
        top: 1.5rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    }
    
    .barra {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        align-items: center;
        justify-content: center;
        width: 30vw;
        z-index: 10;
        list-style: none;

        position: absolute;
        bottom: 0;
        right: 10vh;
    }

    .barra > div {
        font-size: 5vh;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 8vh;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 40vw;
        height: 20vh;
        right: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    .header {
        width: 100vw;
        height: 10vh;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        font-family: Arimo;
        letter-spacing: 6px;
        font-size: 6vw;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLatI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        font-size: 4vw;
        width: 100%;

        position: absolute;
        top: 10vh;
        margin-top: 0;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);
        z-index: 10;
        
        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLatD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        font-size: 4vw;
        width: 100%;

        position: absolute;
        top: 39vw;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);  
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLatI > li:first-child {
        margin-top: 4vw;
    }    

    .navigationLatD > li:first-child {
        padding-top: 4vw;
    }
    
    .navigationLatD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }

    .hamburguesa {
        width: 5%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 1rem;
        z-index: 11;

        cursor: pointer;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        font-size: 4vw;
        width: 100%;

        position: absolute;
        top: 10vh;
        right: 0px;
        margin-top: 0;

        background: rgba(24, 24, 24, 0.9);
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        font-size: 4vw;
        width: 100%;

        position: absolute;
        top: 39vw;
        right: 0px;
        margin-top: 0;
        background: rgba(24, 24, 24, 0.9); 
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showI > li:first-child {
        margin-top: 4vw;
    }    

    .showD > li:first-child {
        padding-top: 4vw;
    }
    
    .showD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }


    .back {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    
        transition: 0.5s;
    }
    
    .back:hover {
        transform: scale(1);
    }

    .barra {
        position: absolute;
        bottom: 10px;
        left: 30%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        width: 100%;
        z-index: 10;

        list-style: none;
        
        text-align: center;
        margin: 0 auto;
    }

    .barra > div {
        font-size: 3vw;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 30px;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 11;

        transform: translateX(0);
        transition: 0.5s;
    }
}