.header {

    width: 98vw;
    height: 72px;

    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    margin-top: 1vh;
    margin-bottom: 200px;

    font-style: thin;
    font-weight: 200;

    z-index: 10;
  }

.navigation {
    display: flex;
    
    gap: 6vw;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}
  
.back {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 10;
}

.back:hover {
    color: red;
}

/* Eliminamos los elementos que se usan en responsive mas pequeños */    
@media (min-width: 1024px) {

    /* Sirve para corregir el menu para laptop debido al useState, debe ser igual a navigationLat*/
    .navigationLatI, .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 33%;

        position: fixed;
        left: 0;
        margin-top: 2vh;
        margin-left: 0;
        padding-left: 0;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    
    .navigationLatD, .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        font-size: 1.5vw;
        width: 33%;

        position: fixed;
        right: 0;
        margin-top: 2vh;
        margin-right: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        overflow-x: auto;
    }
    
    .navigation a:hover {
        color: red;
    }

    .navigationLatI::-webkit-scrollbar,.navigationLatD::-webkit-scrollbar, .showI::-webkit-scrollbar, .showD::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      
      .navigationLatI::-webkit-scrollbar:vertical,.navigationLatD::-webkit-scrollbar:vertical, .showI::-webkit-scrollbar:vertical, .showD::-webkit-scrollbar:vertical {
        width:10px;
      }
      
      .navigationLatI::-webkit-scrollbar-button:increment,.navigationLatI::-webkit-scrollbar-button, .navigationLatD::-webkit-scrollbar-button:increment,.navigationLatD::-webkit-scrollbar-button, .showI::-webkit-scrollbar-button:increment,.showI::-webkit-scrollbar-button, .showD::-webkit-scrollbar-button:increment,.showD::-webkit-scrollbar-button {
        display: none;
      } 
      
      .navigationLatI::-webkit-scrollbar:horizontal, .navigationLatD::-webkit-scrollbar:horizontal, .showI::-webkit-scrollbar:horizontal, .showD::-webkit-scrollbar:horizontal {
        height: 10px;
      }
      
      .navigationLatI::-webkit-scrollbar-thumb,.navigationLatD::-webkit-scrollbar-thumb, .showI::-webkit-scrollbar-thumb, .showD::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
      }


    .entescultor {
        position: fixed;
        align-self: center;
        justify-self: center;
        width: 34%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5.25vh;
        padding-left: 0;
        padding-right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        
        font-size: 2.5vw;
        line-height: 20px; /* 80% */
        letter-spacing: 8px;
    
        user-select: none;
    }

    .hamburguesa {
        display: none;
    }

    .div {
        display: none;
    }

    .showFooter {
        display: none;
    }
}

@media (max-width: 768px) and (orientation: portrait) {

    .header {
        width: 100vw;
        height: 10vh;
        margin-top: 0;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }


    .navigationLinks, .noNavigationLinks {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 10vh;
        gap: 0;
        background: rgba(24, 24, 24, 0.9);


        margin: 0;
        padding: 0;
    }

    .noNavigationLinks {
        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLinks {
        transform: translateX(0%);
        transition: 0.5s;
    }

    .navigationLinks ul, .noNavigationLinks ul {
        list-style: none;
        width: 80%;
        display: flex;
        gap: 6vh;
        margin-left: 0;
        padding: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        
        letter-spacing: 6px;
        font-size: 6vw;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLatI, .navigationLatD {
        display: flex;
        flex-direction: column;
        font-size: 6vw;
    }

    .navigationLatD:last-child {
        padding-bottom: 100vh;
    }

    .hamburguesa {
        width: 6%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 1rem;
        z-index: 11;

        cursor: pointer;
    }

    .back {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    
        transition: 0.5s;
    }
    
    .back:hover {
        color: red;
    }

    .barra {
        position: absolute;
        bottom: 10px;
        left: 20%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        z-index: 10;

        list-style: none;
        
        text-align: center;
        margin: 0 auto;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 30px;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 11;

        transform: translateX(0);
        transition: 0.5s;
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .header {
        width: 100vw;
        height: 18vh;
        margin-top: 0;
        margin-left: 0;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        
        letter-spacing: 6px;
        font-size: 6vh;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLinks, .noNavigationLinks {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 18vh;
        gap: 0;
        background: rgba(24, 24, 24, 0.9);


        margin: 0;
        padding: 0;
    }

    .noNavigationLinks {
        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLinks {
        transform: translateX(0%);
        transition: 0.5s;
    }

    .navigationLinks ul, .noNavigationLinks ul {
        list-style: none;
        width: 80%;
        display: flex;
        gap: 6vh;
        margin-left: 0;
        padding: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .navigationLatI, .navigationLatD {
        display: flex;
        flex-direction: column;
        font-size: 5vh;
    }

    .navigationLatD:last-child {
        padding-bottom: 100vh;
    }

    .hamburguesa {
        width: 3%;
        height: 100%;
        position: absolute;
        top: 0.25rem;
        right: 3rem;
        z-index: 11;

        cursor: pointer;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .showI {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        width: 100%;

        position: absolute;
        top: 52px;
        right: 0px;
        background: rgba(24, 24, 24, 0.9);
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showD {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        width: 100%;

        position: absolute;
        top: 181px;
        right: 0px;
        background: rgba(24, 24, 24, 0.9); 
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }

    .showI > li:first-child {
        margin-top: 20px;
    }    

    .showD > li:first-child {
        padding-top: 20px;
    }
    
    .showD > li:last-child {
        padding-bottom: 100vh;
        z-index: 10;
    }


    .back {
        position: fixed;
        top: 1.5rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    }
    
    .barra {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        align-items: center;
        justify-content: center;
        width: 30vw;
        z-index: 10;
        list-style: none;

        position: absolute;
        bottom: 0;
        right: 2rem;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 30px;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 40vw;
        height: 20vh;
        right: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(0);
        transition: 0.5s;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    .header {
        width: 100vw;
        height: 10vh;
        margin-top: 0;
    }

    .navigation {
        background: rgba(24, 24, 24, 0.9);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }


    .navigationLinks, .noNavigationLinks {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 10vh;
        gap: 0;
        background: rgba(24, 24, 24, 0.9);


        margin: 0;
        padding: 0;
    }

    .noNavigationLinks {
        transform: translateX(300%);
        transition: 0.5s;
    }

    .navigationLinks {
        transform: translateX(0%);
        transition: 0.5s;
    }

    .navigationLinks ul, .noNavigationLinks ul {
        list-style: none;
        width: 80%;
        display: flex;
        gap: 6vh;
        margin-left: 0;
        padding: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .entescultor {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
        
        letter-spacing: 6px;
        font-size: 5vw;      

        position: fixed;
        width: 60vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        user-select: none;
    }

    .navigationLatI, .navigationLatD {
        display: flex;
        flex-direction: column;
        font-size: 4vw;
    }

    .navigationLatD:last-child {
        padding-bottom: 100vh;
    }

    .hamburguesa {
        width: 4%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 1rem;
        z-index: 11;

        cursor: pointer;
    }

    .back {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 10;
        width: 8%;
    
        transition: 0.5s;
    }
    
    .back:hover {
        color: red;
    }

    .barra {
        position: absolute;
        bottom: 10px;
        left: 20%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        z-index: 10;

        list-style: none;
        
        text-align: center;
        margin: 0 auto;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 10;

        transform: translateX(300%);
        transition: 0.5s;
    }
    
    .facebook {
        line-height: 50px;
        max-height: 100%;
        font-size: 30px;
        color: #3b5998;
    }

    .showFooter {
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 25px;
        z-index: 11;

        transform: translateX(0);
        transition: 0.5s;
    }
}