.scroll {
  display: flex;
  flex-direction: column;

  width: inherit;
  height: inherit;
}

.child {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 97vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;    
  scroll-snap-type: y mandatory;
  gap: 1000px;
}

.child::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child::-webkit-scrollbar:vertical {
    width:10px;
}

.child::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.child::-webkit-scrollbar:horizontal {
    height: 10px;
}

.child::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

.contenedor {
  position: relative;
  width: inherit;
  height: 95vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  transform-origin: 0% 0%;
  scroll-snap-align: start;
}

.serie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 100vh;
  margin-left: 5vw;
}

.infoObra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  max-width: 40vw;
}

.texto {
  color: #FFF;
  font-size: 40px;
  font-style: thin;
  font-weight: 200;
  line-height: 98px; /* 326.667% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: black 0.1em 0.1em 0.2em;
  
  user-select: none;

  position: absolute;
  top: 35vh;
  left: 12vw;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
  justify-content: center;

  margin-bottom: 100px;
  margin-left: 100px;

  font-size: 22px;
  font-style: thin;
  font-weight: 200;

  border-radius: 28px;
  padding: 25px 50px;
  
  background: rgba(217, 217, 217, 0.35);

  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.7);

  user-select: none;
}

.info p {
  font-style: thin;
  font-weight: 300;
}

.carrusel {
  height: 100%;
}

.carrusel > div {
  height: 100%;
  display: grid;
  align-items: center;
  margin: 0 auto;
}


.imagen {
  width: 40vw;
  height: 80vh;
}

.image {
  border-radius: 28px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 1);
  transition: 0.5s;
  cursor: pointer;
  margin: 0 auto;

  max-width: 30vw;
  max-height: 70vh;
  image-rendering: auto;
  aspect-ratio: auto;
}

.image:hover {
  transform: scale(1.035);
}

@media (max-width: 1024px ) and (orientation: portrait) {
  .scroll {
    position: absolute;
    left: 0;
    top: 8rem;
    width: 99vw;
    height: 80vh;
    margin-top: 0;
    overflow: hidden;
  }

  .child {
    gap: 4rem;
    width: 99vw;
  }

  .contenedor {
    height: 80vh;
  }

  .serie {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    gap: 0;
  }

  .serie > div {
    margin-top: 0px;
    gap: 0px;
  }

  .info {
    position: absolute;
    top: 3rem;
    left: 5vw;
    align-self: center;
    font-size: 2vh;
    gap: 1rem;
    width: 63vw;
    max-height: 20vh;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow-y: auto;
  }

  .imagen {
    margin-bottom: 0px;
    width: 80vw;
    height: 50vh;
  }

  .carrusel {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .image {
    max-height: 40vh;
    max-width: 90%;
  }
  
  .image:hover {
    transform: scale(1);
  }

  .texto {
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    line-height: 1rem;
  }
}

@media (max-width: 1024px ) and (orientation: landscape) {
  .scroll {
    position: absolute;
    right: 0;
    top: 1rem;
    width: 99vw;
    height: 100vh;
    margin-top: 0;
    overflow: hidden;
  }

  .child {
    gap: 4rem;
  }

  .serie {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    gap: 15rem;
  }

  .serie > div {
    margin-top: 0px;
    gap: 0px;
  }

  .info {
    position: absolute;
    bottom: 2rem;
    left: 10rem;
    align-self: center;
    font-size: 2vw;
    gap: 1rem;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .imagen {
    margin-bottom: 0px;
    position: absolute;
    top: 2.5rem;
    right: 1vh;
  }

  .carrusel {
    width: 35vw;
  }

  .image {
    max-height: 70vh;
    max-width: 90%;
  }
  
  .image:hover {
    transform: scale(1);
  }

  .texto {
    font-size: 3vw;
    position: absolute;
    bottom: 12rem;
    left: 6rem;
    line-height: 1rem;
  }
}